{
  "env" : {
    "node" : true
  },
  "rules" : {
    "curly" : [1, "multi-line"],
    "quotes" : [1, "single", "avoid-escape"],
    "no-use-before-define" : [1, "nofunc"],
    "no-multi-spaces" : 1,
    "consistent-return" : 0,
    "no-trailing-spaces" : 1
  }
}
